<ul class="nav nav-tabs" id="AllTopTab">
						  <li class="topTab active" data-id="Pytania"><a  data-toggle="tab">Zadawanie Pytań</a></li>
						  <li class="topTab" data-id="Historia"><a  data-toggle="tab">Punkty studentów</a></li>
						  <li class="topTab" data-id="Plik"><a  data-toggle="tab">Wysłanie pliku</a></li>
						  <li class="topTab" data-id="OdpowiedziOtwarte"><a  data-toggle="tab">Sprawdzanie pytań otwartych</a></li>
						</ul>
						<div id="content_all">
							  <h1 id="content-header"></h1>
							  <p id="content">{{menu.structureToCheck}}</p>
						</div>