<ul class="nav nav-tabs" id="AllTopTab">
	<li ng-class="{ active:tab.isSet(1) }" ng-click="tab.setTab(1)" class="topTab active"><a >Zadawanie Pytań</a></li>
	<li ng-class="{ active:tab.isSet(2) }" ng-click="tab.setTab(2)" class="topTab" ><a> Punkty studentów</a></li>
	<li ng-class="{ active:tab.isSet(3) }" ng-click="tab.setTab(3)" class="topTab"><a >Wysłanie pliku</a></li>
	<li ng-class="{ active:tab.isSet(4) }" ng-click="tab.setTab(4)" class="topTab"><a >Ocenianie</a>
</li>
</ul>
	<div id="content_all">
			<div id="Questions" ng-show="tab.isSet(1)">
				<div ng-include="'partials/addQuestion.html'">

				</div>
			<div id="StudentsPoints" ng-show="tab.isSet(2)">
			</div>
			<div id="FileSend" ng-show="tab.isSet(3)">
							FileSend
			</div>
			<div id="Rate" ng-show="tab.isSet(4)">
							Oceniamy
			</div>
	</div>