<div ng-controller="menuController as menu" >

	<div ng-repeat="(fieldOfStudy , groupsTable) in menu.structure">
			<li class="btn btn-primary btn-block btn-lg wrap" ng-click="show =!show">{{fieldOfStudy}}
			<div ng-repeat="(group , subjectsTable) in groupsTable">
				<div class="btn btn-default btn-block wrap"  ng-show="show">
					<a href="#">grupa: {{group}}</a>	
					<div ng-repeat="subjects in subjectsTable">		
						<div ng-repeat="subject in subjects" class="wrap btn btn-default btn-block" >
							<a href="#">{{subject}}</a>
						</div>
					</div>
				</div>
				</div>
			</li>
	</div>				
</div> 