<div ng-repeat="(question, answerArray) in rate.structureQuestion">
	<div class="questionToRate btn btn-primary btn-block" ng-click="show =! show">{{question}}			

		<div class=" btn-danger notRate" ng-init="numberNotRate=answerArray.notRateStudents" ng-show="answerArray.notRateStudents" > 	
			<div >Do oceny pozostało {{numberNotRate}}</div>
		</div>	
		<div ng-repeat="q in answerArray">
				<div class="btn btn-default btn-block answerBox" ng-show="show" ng-click="$event.stopPropagation();" >			
					<div class="bold">{{q.name}} {{q.surname}}</div> 						
						<div >
					<div class="bold inLine">Odpowiedź: 
					</div>{{q.answer}}</div>		
								
					<div class="btn-default"></div>					
						<div class="inLine" style="border-style: outset;" ng-init="rateValue=q.points">
						Student otrzymał {{rateValue}} punkty. Zmień ocenę na </div>			
						 <ng-rate-it class="inLine" ng-click="rate.update(rateValue, q.idAnswer);" min=0 resetable=true max ="q.pointsToGet" step = 1 ng-model="rateValue"></ng-rate-it>
				</div> 
		</div>
	</div>
</div>
