<div class="container" ng-app="sortApp" ng-controller="studentsPointsController as points">
  
  <form>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>
        <input type="text" class="form-control" placeholder="Search" ng-model="points.search">
      </div>      
    </div>
  </form>
  
  <table class="table table-bordered table-striped">
    
    <thead>
      <tr>
      <td>
          <a  ng-click="points.sortType = 'id'; points.sortReverse = !points.sortReverse">
            LP
            <span ng-show="points.sortType == 'id' && !points.sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="points.sortType == 'id' && points.sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
        <td>
          <a ng-click="points.sortType = 'name'; points.sortReverse = !points.sortReverse">
            Imię 
            <span ng-show="points.sortType == 'name' && !points.sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="points.sortType == 'name' && points.sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
        <td>
          <a ng-click="points.sortType = 'surname'; points.sortReverse = !points.sortReverse">
          Nazwisko
            <span ng-show="points.sortType == 'surname' && !points.sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="points.sortType == 'surname' && points.sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
        <td>
          <a ng-click="points.sortType = 'points'; points.sortReverse = !points.sortReverse">
          Punkty
            <span ng-show="points.sortType == 'points' && !points.sortReverse" class="fa fa-caret-down"></span>
            <span ng-show="points.sortType == 'points' && points.sortReverse" class="fa fa-caret-up"></span>
          </a>
        </td>
      </tr>
    </thead>
    
    <tbody>
      <tr ng-repeat="roll in points.structure | orderBy:points.sortType:points.sortReverse | filter:points.search">
        <td>{{ roll.id }}</td>
        <td>{{ roll.name }}</td>
        <td>{{ roll.surname }}</td>
        <td>{{ roll.points }}</td>
      </tr>
    </tbody>
    
  </table>
  
</div>