<div ng-repeat="(question, answerArray) in rate.structureQuestion">
	<div class=" btn btn-primary btn-block" ng-click="show =!show">{{question}}			

		<div style="; float: right;" class=" btn-danger" ng-show="answerArray.notRateStudents" > 	
			<div style=" display: inline;">Do oceny pozostało {{answerArray.notRateStudents}}</div>
		</div>	
		<div ng-repeat="q in answerArray">
				<div  style="text-align: left; display: block;" class="btn btn-default btn-block">						
					<div style="font-weight: bold;">{{q.name}} {{q.surname}}</div> 						
						<div display:="" inline;="">
					<div style=" display: inline;font-weight: bold;">Odpowiedź: 
					</div>{{q.answer}}</div>		
								
					<div class="btn-default"></div>					
						<div style="display: inline; border-style: outset;" ng-init="rateValue=q.points">
						Student otrzymał {{rateValue}} punkty. Zmień ocenę na </div>			
						 <ng-rate-it style="display: inline;" ng-click="rate.update(rateValue, q.idAnswer)" min=0 resetable=true max ="q.pointsToGet" step = 1 ng-model="rateValue"></ng-rate-it>
				</div> 
		</div>
	</div>
</div>
